@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(30 41 59);
    color: #FFF;
    overflow-y: hidden;
}

@layer components {
    .bg-glass {
        @apply backdrop-filter backdrop-blur-[20px] bg-white/10;
    }
}